.MuiSpeedDialAction-staticTooltipLabel {
  color: black !important;
  font-weight: bolder !important;
  padding: 0.5rem 1rem !important;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5) !important;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.bounce {
  animation: bounce 0.4s ease-in-out infinite;
}
