
.MuiSpeedDialAction-staticTooltipLabel {
  color: black !important;
  font-weight: bolder !important;
  padding: .5rem 1rem !important;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5) !important;
}